.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 50px 1fr;
  grid-template-areas:
  "head"
  "pageNav"
  "mainContent";
}
.alert {
  padding: 20px;
  background-color: #7477AA;
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
header {
  grid-area: head;
  display:grid;
  grid-template-columns: 4fr .2fr .1fr .2fr;
}
.icon-bell {
  margin-top: 15px;
  height: 30px;
  width: 30px;
  transition: height width 2s:
}
.icon-bell:hover {
  height: 45px;
  width: 45px;
}
.profilepic {
  margin-top: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50% 50%;
}
h4 {
  margin-top: 15px;
}
nav {
  grid-area: pageNav;
}
.dashboard,
.members,
.visits {
 width: 30px;
 margin: 10px;
}
main {
  grid-area: mainContent;
  display: grid;
}
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
   display: grid;
   grid-gap: 2px;
}
.half-size-charts,
.member-info,
.message-and-settings {
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.trafficNav {
  grid-area: trafficNav;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.trafficFilters {
  justify-self: right;
}
.trafficFilters span {
  margin-right: 10px;
}

.social-media-info {
  padding: 25px;
}

.member1,
.member2,
.member3,
.member4 {
  display: grid;
  grid-template-columns: auto 1fr .5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "photo name date"
  "photo email date";
  margin: 10px;
  border-bottom: 1px solid rgba(56, 56, 56, 0.5);
  padding: 10px;
}
.photo {
  grid-area: photo;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.name {
  grid-area: name;
}
.date {
  grid-area: date;
  align-self: center;
  justify-self: right;
}
.social-1,
.social-2,
.social-3,
.social-4 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "twitterIcon socialName"
  "twitterIcon socialCount";
  justify-items: center;
  align-items: center;
  margin: 0 15px 0 15px;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.socialCount {
  grid-area: socialCount;
  justify-self: left;
  align-self: start;
  font-size: 2em;
}

.socialName {
  grid-area: socialName;
  justify-self: left;
  align-self: end;
}

.icon-circle {
  justify-self: right;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #7477BF;
  grid-area: twitterIcon;
}

.labelNumber {
  grid-area: labelNumber;
}

.twitterIcon,
.facebookIcon,
.googleIcon {
    height: 40px;
    width: 40px;
    padding: 2px;
}

.twitterIcon {
  margin-top: 5px;
}
.search {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
   "searchUser",
   "messageUser",
   "send"
}
searchUser {
  grid-area: searchUser;
}
messageUser {
  grid-area: messageUser;
}
send {
  grid-area: send;
}


@media (min-width: 1024px) {
  .grid-container {
   grid-template-columns: 60px 1fr;
   grid-template-rows: 60px 1fr;
   grid-template-areas:
   "head head"
   "pageNav mainContent";
   }
   .social-media-info {
   grid-template-columns: repeat(3, 1fr);
   }
}
